
<div class="container"  style="width:600px; margin:3 auto;">
<div class=" well span6">
		<div class="thumbnail"style="background-color:#008B8B;">
	
CheckIn:{{data.CheckIn}}<br/><br/>
CheckOut:{{data.CheckOut}}</br><br/>
Room_type:{{data.Room_type}}</br><br/>
Total Price_Reg :{{data.total}}<br/><br/>
Price for a day:{{string}}<br/><br/>
AvaliableRooms:{{availableRoom}}<br/><br/>
<p align="center">
<button id="reservation" ng-click="reserve()" ng-show="showButton">Reservation</button></p>
<!--  <a href="#myModal" role="button" class="btn" data-toggle="modal">Reserv</a>-->
</div>
</div>
</div>

<!--  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="myModalLabel">Do you Want to Reserve then click save</h3>
  </div>
  <div class="modal-body">
    <p>One fine body</p>
  </div>CheckIn:{{CheckIn}}<br/>
  CheckOut:{{CheckOut}}<br/>
  Total Price_Reg:{{total}}
  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" ng-click="reserve()" data-dismiss="modal">Reserv</button>
  </div>
</div>
</div>-->