
<div class="container" style="width:600px; margin:3 auto;">
<div class=" well span6">
	<ul class="loginPage">
    	<li>Email:</li>
    	<li>Password:</li>
    </ul>
    <ul class="loginPage">
    	
      <li class="loginFormInput"><input id="eMail" name="eMail" type="email" ng-model="eMail"/>
      
       <li class="loginFormInput"><input id="password" name="password" type="password" ng-model="password"/>
      
    <!--  	<li class="loginFormInput"><input type="password" ng-model="password"/></li>-->
    <ul class="tileMe">
    	<button class="loginFormButton" ng-click="validate()">Sign In</button>
    	<li align="right" class="loginFormButton"> <button ng-click="Register()">Register</button></li>
    	</ul>
    </ul>
</div>
</div>

